body {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(40, 238, 195), rgb(102, 196, 231));
}

.content {
    border: 3px solid grey;
    width: 1024px;
    margin: auto;
}

.flex-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item1 {
    position: relative;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.Noti {
    position: absolute;
    display: grid;
    background-color: red;
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
    right: 0;
    bottom: 0;
    place-items: center;
    color: white;
    margin-bottom: 50px;
}

.avatar {
    background-color: aliceblue;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border-radius: 9999px;
    border: 100px;
}

.flex-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.userinput {
    align-items: center;
    margin-bottom: 5px;
}

.imageinput {
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}
.gallery-item {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.on-hover {
    align-items: center;
    text-decoration: none;
    color: black;
}

.on-hover:hover {
    text-decoration: underline;
    color: blue;
}

.forho {
    align-items: center;
    text-align: center;
}